<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Welcome to Simplifytrips.com</title>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>

</head>
<body>
<header>  
  <div class="header-sec">
    <nav class="">
    <div class="">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="images/logo.png" alt="" title="" class="img-responsive">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>    
  </div>
</header>
<section class="user-panel">
  <div class="container">
    <div class="user-panel-sec">
      <div class="user-panel-box">
        <div class="user-sec">
          <h1>Login Page For sign-up/login</h1>
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
              <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Owner Name</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Owner Name">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Organisation Name</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Organisation Name">
                </div>            
                <div class="form-group">
                  <label for="exampleInputEmail1">Contact Number</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Contact Number">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Email Id</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Email Id">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Address</label>
                  <textarea rows="5" class="form-control" id="exampleInputEmail1" placeholder="Address"></textarea>
                </div>                
              </form>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="company-logo">
                <figure>
                  <img src="images/company-logo.png" alt="" title="" class="img-responsive">
                </figure>
              </div>
            </div>
          </div>
        </div>
        <div class="user-trip">
          <h2>Top 5 Domestic Holiday Destinations</h2>
          <form class="form-horizontal">
            <div class="table-responsive">
                  <table class="table table-bordered table-striped table-highlight">
                      <thead>
                          <th>S.No.</th>
                          <th>Destination</th>
                          <th>Travel Itinerary</th>
                          <th>Days</th>
                          <th>Cost</th>                
                      </thead>
                      <tbody>
                          <tr>
                              <td class="text-center">1.</td>
                              <td><input type="text" class="form-control" placeholder="Destination" /></td>
                              <td><input type="text" class="form-control" placeholder="Travel Itinerary" /></td>
                              <td>
                                  <select class="form-control">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                      <option>6</option>
                                      <option>7</option>
                                      <option>8</option>
                                      <option>9</option>
                                      <option>10</option>
                                  </select>
                              </td>                    
                              <td><input type="text" class="form-control" placeholder="Cost" /></td>
                          </tr>
                          <tr>
                              <td class="text-center">2.</td>
                              <td><input type="text" class="form-control" placeholder="Destination" /></td>
                              <td><input type="text" class="form-control" placeholder="Travel Itinerary" /></td>
                              <td>
                                  <select class="form-control">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                      <option>6</option>
                                      <option>7</option>
                                      <option>8</option>
                                      <option>9</option>
                                      <option>10</option>
                                  </select>
                              </td>                    
                              <td><input type="text" class="form-control" placeholder="Cost" /></td>
                          </tr>
                          <tr>
                              <td class="text-center">3.</td>
                              <td><input type="text" class="form-control" placeholder="Destination" /></td>
                              <td><input type="text" class="form-control" placeholder="Travel Itinerary" /></td>
                              <td>
                                  <select class="form-control">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                      <option>6</option>
                                      <option>7</option>
                                      <option>8</option>
                                      <option>9</option>
                                      <option>10</option>
                                  </select>
                              </td>                    
                              <td><input type="text" class="form-control" placeholder="Cost" /></td>
                          </tr>
                          <tr>
                              <td class="text-center">4.</td>
                              <td><input type="text" class="form-control" placeholder="Destination" /></td>
                              <td><input type="text" class="form-control" placeholder="Travel Itinerary" /></td>
                              <td>
                                  <select class="form-control">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                      <option>6</option>
                                      <option>7</option>
                                      <option>8</option>
                                      <option>9</option>
                                      <option>10</option>
                                  </select>
                              </td>                    
                              <td><input type="text" class="form-control" placeholder="Cost" /></td>
                          </tr>
                          <tr>
                              <td class="text-center">5.</td>
                              <td><input type="text" class="form-control" placeholder="Destination" /></td>
                              <td><input type="text" class="form-control" placeholder="Travel Itinerary" /></td>
                              <td>
                                  <select class="form-control">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                      <option>6</option>
                                      <option>7</option>
                                      <option>8</option>
                                      <option>9</option>
                                      <option>10</option>
                                  </select>
                              </td>                    
                              <td><input type="text" class="form-control" placeholder="Cost" /></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </form>
        </div>
        <div class="user-trip">
          <h2>Top 5 International Holiday Destinations</h2>
          <form class="form-horizontal">
            <div class="table-responsive">
                  <table class="table table-bordered table-striped table-highlight">
                      <thead>
                          <th>S.No.</th>
                          <th>Destination</th>
                          <th>Travel Itinerary</th>
                          <th>Days</th>
                          <th>Cost</th>                
                      </thead>
                      <tbody>
                          <tr>
                              <td class="text-center">1.</td>
                              <td><input type="text" class="form-control" placeholder="Destination" /></td>
                              <td><input type="text" class="form-control" placeholder="Travel Itinerary" /></td>
                              <td>
                                  <select class="form-control">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                      <option>6</option>
                                      <option>7</option>
                                      <option>8</option>
                                      <option>9</option>
                                      <option>10</option>
                                  </select>
                              </td>                    
                              <td><input type="text" class="form-control" placeholder="Cost" /></td>
                          </tr>
                          <tr>
                              <td class="text-center">2.</td>
                              <td><input type="text" class="form-control" placeholder="Destination" /></td>
                              <td><input type="text" class="form-control" placeholder="Travel Itinerary" /></td>
                              <td>
                                  <select class="form-control">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                      <option>6</option>
                                      <option>7</option>
                                      <option>8</option>
                                      <option>9</option>
                                      <option>10</option>
                                  </select>
                              </td>                    
                              <td><input type="text" class="form-control" placeholder="Cost" /></td>
                          </tr>
                          <tr>
                              <td class="text-center">3.</td>
                              <td><input type="text" class="form-control" placeholder="Destination" /></td>
                              <td><input type="text" class="form-control" placeholder="Travel Itinerary" /></td>
                              <td>
                                  <select class="form-control">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                      <option>6</option>
                                      <option>7</option>
                                      <option>8</option>
                                      <option>9</option>
                                      <option>10</option>
                                  </select>
                              </td>                    
                              <td><input type="text" class="form-control" placeholder="Cost" /></td>
                          </tr>
                          <tr>
                              <td class="text-center">4.</td>
                              <td><input type="text" class="form-control" placeholder="Destination" /></td>
                              <td><input type="text" class="form-control" placeholder="Travel Itinerary" /></td>
                              <td>
                                  <select class="form-control">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                      <option>6</option>
                                      <option>7</option>
                                      <option>8</option>
                                      <option>9</option>
                                      <option>10</option>
                                  </select>
                              </td>                    
                              <td><input type="text" class="form-control" placeholder="Cost" /></td>
                          </tr>
                          <tr>
                              <td class="text-center">5.</td>
                              <td><input type="text" class="form-control" placeholder="Destination" /></td>
                              <td><input type="text" class="form-control" placeholder="Travel Itinerary" /></td>
                              <td>
                                  <select class="form-control">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                      <option>6</option>
                                      <option>7</option>
                                      <option>8</option>
                                      <option>9</option>
                                      <option>10</option>
                                  </select>
                              </td>                    
                              <td><input type="text" class="form-control" placeholder="Cost" /></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </form>
        </div>
        <button type="submit" class="btn btn-default pull-right">Submit</button>
        <span class="clearfix"></span>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/datepicker.js"></script>
<script type="text/javascript" src="js/jquery.datetimepicker.full.js"></script>
</body>
</html>
